services:

# database
  postgres:
    image: 'postgres:16'
    container_name: db_ecommerce_prod
    environment:
      - 'POSTGRES_DB=db_ecommerce_prod'
      - 'POSTGRES_USER=db_pguser'
      - 'POSTGRES_PASSWORD=db_pgpwd'
    ports:
      - '25432:5432'
    volumes:
      - prod_postgres_data:/var/lib/postgresql/data

  redis:
    image: 'redis:7-alpine'
    container_name: redis_ecommerce_prod
    ports:
      - '26379:6379'
    volumes:
      - prod_redis_data:/data
    command: redis-server --appendonly yes # AOF 영속화 설정


volumes:
  prod_postgres_data:
  prod_redis_data: