server:
  port: 8090
  tomcat:
    threads:
      max: 200        # 최대 요청 처리 스레드
      min-spare: 10   # 최소 유지 스레드


spring:
  application:
    name: mycommerce


  datasource:
    # 커넥션 풀 (HikariCP) 설정
    hikari:
      minimum-idle: 10            # 최소 유지 커넥션
      maximum-pool-size: 20       # 최대 커넥션. 최적 CPU 코어 수 × 2 + 디스크 수
      connection-timeout: 30000   # 커넥션 대기 시간 30초
      idle-timeout: 600000        # 유휴 커넥션 유지 시간 10분
      max-lifetime: 1800000       # 커넥션 최대 수명 30분
