# -----------------------------------------------------------------------------
# 1. 공통 설정 (기본값)
# -----------------------------------------------------------------------------
server:
  port: 8090
  tomcat:
    threads:
      max: 200        # 최대 요청 처리 스레드
      min-spare: 10   # 최소 유지 스레드

spring:
  application:
    name: mycommerce

  profiles:
    active: prod

  datasource:
    # 커넥션 풀 (HikariCP) 설정
    hikari:
      minimum-idle: 10            # 최소 유지 커넥션
      maximum-pool-size: 20       # 최대 커넥션. 최적 CPU 코어 수 × 2 + 디스크 수
      connection-timeout: 30000   # 커넥션 대기 시간 30초
      idle-timeout: 600000        # 유휴 커넥션 유지 시간 10분
      max-lifetime: 1800000       # 커넥션 최대 수명 30분

  jpa:
    hibernate:
      ddl-auto: validate  # 엔티티와 DB 스키마가 일치하는지만 검증
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always  # 항상 db 초기화 쿼리 실행 (기본값: embedded. 내장 db만)
      continue-on-error: false # SQL 에러 발생 시 중단
      schema-locations: classpath:db/postgresql/schema.sql
      data-locations:
        - classpath:db/postgresql/data.sql
#        - classpath:db/postgresql/data-users.sql
#        - classpath:db/postgresql/data-products.sql


# -----------------------------------------------------------------------------
# 2. 개발 프로파일 (dev)
# -----------------------------------------------------------------------------
---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://localhost:25432/db_ecommerce_dev
    username: db_pguser
    password: db_pgpwd

  docker:
    compose:
      enabled: true
      file: ./compose-dev.yaml


# -----------------------------------------------------------------------------
# 3. 테스트 프로파일 (test)
# -----------------------------------------------------------------------------
---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    driver-class-name: org.h2.Driver
    # DB_CLOSE_DELAY=-1: 테스트 도중 커넥션 닫힘 방지
    # MODE=PostgreSQL: 실제 서비스 DB 문법 적용
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:

  h2:
    console:
      enabled: false
#      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true
      open-in-view: false

  docker:
    compose:
      enabled: true
      skip:
        in-tests: false   # Docker Compose 지원 활성화 <-> true (비활성화. 기본)


# -----------------------------------------------------------------------------
# 4. 배포 프로파일 (prod)
# -----------------------------------------------------------------------------
---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://localhost:25432/db_ecommerce_prod
    username: db_pguser
    password: db_pgpwd

  docker:
    compose:
      enabled: true
      file: ./compose.yaml

